<div data-role="page" id="home">

  <div data-role="header">
    <h1> Page Title </h1>
  </div>

  <div data-role="content">
    <p> <a href="contact.html" data-transition="flip">Contact Us</a></p>
    <p> <a href="about.html" data-rel="dialog" data-transition="pop">About Us</a></p>
  </div>

  <div data-role="footer">
    <h3> Footer </h3>
  </div>

</div>
