This is the body of the page.

This is a list <p/>

<ul>
  <li> Some content goes here </li>
  <li> Some other content goes here </li>
</ul>

A basic form <p/>

<form method="post" action="">
  Name: <input type="text"> <br/>

  <input type="submit" value="Submit" />
</form>
