<div data-role="page">

  <div data-role="content">
    <ul>
      <li> Alert on Tap </li>
      <li> Alert on Swipe Left </li>
    </ul>
  </div>

</div>

<script type="text/javascript">
 
$( function() {
 
  $('body').bind( 'tap', function( e ) {
    alert( 'Tap detected!' );
    return false;
  } );  
 
  $('body').bind( 'swipeleft', function( e ) {
    alert( 'Swipe left detected!' );
    return false;
  } );  
 
} );
 
</script> 
